.scroll{
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Ensure no horizontal scrollbar */
    font-family: Arial, sans-serif;
}

.scroll-container {
    position: relative;
    height: 20vh; /* Adjust height as needed */
    background-color: #f0f0f0; /* Light background color */
    overflow: hidden; /* Hide text that is outside the container */
}


/* Animation for scrolling left to right */
.left-to-right {
    animation: scroll-left-to-right 10s linear infinite; /* Adjust duration as needed */
}

@keyframes scroll-left-to-right {
    0% {
        transform: translateX(-100%); /* Start from the left edge */
    }
    100% {
        transform: translateX(100%); /* End at the right edge */
    }
}

/* Animation for scrolling right to left */
.right-to-left {
    font-size: xx-large;
    animation: scroll-right-to-left 10s linear infinite; /* Adjust duration as needed */
}

@keyframes scroll-right-to-left {
    0% {
        transform: translateX(100%); /* Start from the right edge */
    }
    100% {
        transform: translateX(-100%); /* End at the left edge */
    }
}
