*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  .text-wrapper{
    display: flex;
    justify-content: flex-start;
    background: black;
    color: white;
    overflow: hidden;
  }
  .text-wrapper h1{
    font-size: 20vw;
    color: transparent;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: #fff;
    text-stroke-color: #fff;
    white-space: nowrap;
    padding: 0 6rem;
    letter-spacing: 1px;
    animation: move-rti 60000ms linear infinite;
  }
  
  @keyframes move-rti {
  
    0%{
      transform: translateX(0);
    }
    100%{
      transform: translateX(-100%);
    }
  }