.footer_text_scroll {
    background: black;
    height: 60vh;
    display: flex;
    align-items: end;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.footer_wrapper {
    width: 100%;
    position: relative;
    top: 30%;
    overflow: hidden;
}

.footer_scroll-content {
    display: flex;
}

.footer_itemLeft {
    font-weight: bold;
    color: white;
    white-space: nowrap;
    padding: 0 2rem;
    font-size: 25vw; /* Adjust the font size for smaller screens */
    background: linear-gradient(10deg, black 60%, white 40%);
    background-size: 10px 10px;
    -webkit-background-clip: text;
    color: transparent;
}
◘
.footer_itemLeft1 {
    font-weight: bold;
    color: white;
    white-space: nowrap;
    padding: 0 2rem;
    font-size: 25vw; /* Adjust the font size for smaller screens */
    background: linear-gradient(10deg, black 60%, white 40%);
    background-size: 10px 10px;
    -webkit-background-clip: text;
    color: transparent;
    animation: footer_scrollLeft1 20s linear infinite;
}

.footer_cursor-light {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: radial-gradient(circle at var(--x) var(--y), transparent 10%, rgba(0, 0, 0, 0.85) 20%);
    z-index: 1;
}

/* Media Queries for Responsive Design */

@media (max-width: 768px) {
    .footer_itemLeft {
        font-size: 40vw; /* Larger text on medium screens */
    }
}

@media (max-width: 460px) {
    .footer_text_scroll {
        height: 40vh; /* Adjust the height for smaller screens */
        width: 100vw;
    }
    
    .footer_itemLeft {
        font-size: 45vw; /* Increase font size to make text more visible */
        padding: 0 1rem; /* Adjust padding */
    }

    .footer_scroll-content {
        animation: footer_scrollLeft 15s linear infinite; /* Adjust animation speed */
    }
}

.footer_wrapper {
    width: 100%;
    position: relative;
    top: 0%;
    overflow: hidden;
}


@media (max-width: 460px) {
    
    .footer_text_scroll {
        background: black;
        height: 60vh;
        display: flex;
        align-items: end;
        justify-content: center;
        overflow: hidden;
    }
    
    .footer_wrapper {
        width: 100%;
        position: relative;
        top: 30%;
        overflow: hidden;
    }
    
    .footer_scroll-content {
        display: flex;
        animation: none;
    }
    
    .footer_itemLeft {
        font-weight: bold;
        color: white;
        white-space: nowrap;
        padding: 0 2rem;
        font-size: 25vw;
        background: linear-gradient(10deg, black 60%, white 40%);
        background-size: 10px 10px;
        -webkit-background-clip: text;
        color: transparent;
    }
}